<section class="hero" id="howto">
  <div class="hero-body">
    <div class="container has-text-centered">
        <h1 class="title is-2"><b>Designed for everyone</b></h1>
        <h2 class="subtitle is-6">Our easy-to-use interface makes developing bots a breeze, no matter what your background is.</h2>
        <div class="tabs is-centered">
          <ul>
            <li id="step_btn_1" class="is-active"><a (click)="toggleStep(1)">1. Choose your domain</a></li>
            <li id="step_btn_2"><a (click)="toggleStep(2)">2. Customize the behavior</a></li>
            <li id="step_btn_3"><a (click)="toggleStep(3)">3. Experience it in action</a></li>
          </ul>
        </div>
        <p id="step_img_1">
          <img src="assets/images/home/howto_1.svg" style="max-width: 100%;">
        </p>
        <p class="is-hidden" id="step_img_2">
          <img src="assets/images/home/howto_2.svg" style="max-width: 100%;">
        </p>
        <p class="is-hidden" id="step_img_3">
          <img src="assets/images/home/howto_3.svg" style="max-width: 100%;">
        </p>
    </div>
  </div>
</section>