<section class="hero is-info is-bold is-fullheight has-negative-margin-top">
  <div class="hero-body">
    <div class="container has-text-centered">
        <div class="columns">
          <div class="column is-half is-offset-one-quarter">
              <div class="box">
                <h1 class="title is-2" style="color: #4a4a4a;">Log in</h1>
                <h2 class="subtitle is-6" style="color: #4a4a4a;">We are excited to have you join our team!</h2>
                <div class="field">
                  <p class="control has-icons-left">
                    <input class="input" type="text" placeholder="Username">
                    <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
                  </p>
                </div>
                <div class="field">
                  <p class="control has-icons-left">
                    <input class="input" type="password" placeholder="Password">
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </p>
                </div>
                <div class="field">
                  <p class="control">
                    <button class="button is-info">
                      Log in
                    </button>
                  </p>
                </div>   
              </div>
          </div>
        </div> 
        <h1 class="title is-6">Don't have an account? <a href="/signup"><i>Sign up</i></a></h1>      
    </div>
  </div>
</section>