<!-- Hero content: will be in the middle -->
<section class="hero is-info is-fullheight has-negative-margin-top">
  <div class="hero-body">
    <div class="container has-text-centered">
        <div class="columns">
          <div class="column">
              <img src="assets/images/home/code_example.png" style="max-height: 500px;">
          </div>
          <div class="column" style="display: flex; flex-direction: column; justify-content: center;">
            <h1 class="title is-1">Building a bot shouldn't be that hard.</h1><br>
            <h2 class="subtitle is-4">We make it easy. <a class="button is-info is-inverted" href="/login">Check us out</a></h2><br>
          </div>
        </div>
    </div>
  </div>
</section>